<section class="board main">
	<div class="row">
		<div class="columns xsmall-12">
			<h4>This Week</h4>
			Next Week, chores will be assigned 
			<select name="board-setting" id="settings">
				<option value="random">randomly</option>
				<option value="rotate">in rotation</option>
			</select> to the team members below.

			<table>
				<tr>
					<th>Team Member</th>
					<th>Chores</th>
					<th>Interval</th>
				</tr>
				<tr>
					<td>
						Stella<button class="destroy">Change</button>
					</td>
					<td>
						<input type="checkbox" class="toggle">
			            <label>Wipe Counters &amp; Bar</label><button class="destroy">Remove</button>
					</td>
					<td>
						Daily<button class="destroy">Change</button>
					</td>
				</tr>
				<tr>
					<td>
						Trev<button class="destroy">Change</button>
					</td>
					<td>
						<input type="checkbox" class="toggle">
			            <label>Dishwasher (empty &amp; turn on)</label><button class="destroy">Remove</button>
					</td>
					<td>
						Daily<button class="destroy">Change</button>
					</td>
				</tr>
				<tr>
					<td>
						Buckley<button class="destroy">Change</button>
					</td>
					<td>
						<input type="checkbox" class="toggle">
			            <label>Tidy Upstairs</label><button class="destroy">Remove</button>
					</td>
					<td>
						Tues, Fri<button class="destroy">Change</button>
					</td>
				</tr>
				<tr>
					<td><button>Add Another Member</button></td>
				</tr>
			</table>
		</div>
	</div>
</section>